.span6

  %h2
    = t '.send_resume'
  = form_for @resume, :url => jobs_path, :html => {:class => 'web-form', :multipart => true} do |f|  #FIXME
    - if @resume.errors.any?
      .error
        = pluralize(@resume.errors.count, "error")
        prohibited this resume from being sending:
      %ul
        - @resume.errors.full_messages.each do |msg|
          %li= msg

    - if @job.nil?
      = f.select(:job_id, options_for_select(@all_jobs_for_select.map { |j| [j.title, j.id] }))
    - else
      = f.select(:job_id, options_for_select(@job.title => @job.id))

    = f.text_field :name, :id => 'input-name', :class => 'span6', :placeholder => t('.your_name'), :type => 'text'
    = f.text_field :email, :id => 'input-email', :class => 'span6', :placeholder => t('.your_email'), :type => 'text'
    = f.text_field :phone, :id => 'input-phone', :class => 'span6', :placeholder => t('.your_phone'), :type => 'text'
    = f.text_area :description, :class => 'span6', :placeholder =>  t('.your_message'), :rows => '5'
    #file
      %a{:onclick=>'addField()', :id => 'linkfile'} Add file
    .submit-form
      = f.submit t('.send_resume'), :class => 'btn'
