.row.careers-index
  .span6
    %h2
      = t '.open_vacancies'
    .careers
      - @jobs.each do |job|
        .title
          %h3
            %i{:class=>'icon-star'}
            = job.title
        .descr
          %p
            != job.description.truncate(500)
            = link_to 'learn more', job, :id => "job#{job.id}"
      = paginate @jobs,:window => 1
  = render 'form'
.row
  = render :partial => 'shared/post_jobs'
