.row.careers-index
  .span6
    %h2
      = t '.open_vacancies'
    .careers
      .career
      .title
        %h3
          %i{:class=>'icon-star'}
          = @job.title
        .descr
          %p
            != @job.description
  = render 'form'
.row
  = render :partial => 'shared/post_jobs'
