.span6.posts
  %h2
    = t '.latest_posts'
  .bl_content
    - @last_posts.each do |last_post|
      .post
        - unless last_post.upload_files.blank?
          = image_tag last_post.upload_files.first.filename.url, width: 50, height: 50, alt: last_post.title
        - else
          = image_tag 'missing.png', width: 50, height: 50, alt: last_post.title
        .title
          = link_to last_post.title, last_post
        .cont
          = t '.by'
          = last_post.admin.email
.span6.jobs
  %h2
    = t '.vacancies'
  .bl_content
    - @last_jobs.each do |last_job|
      .job
        = image_tag 'missing.png', width: 50, height: 50, alt: last_job.title
        .title
          = link_to last_job.title, last_job
        .resume.text-right
          = link_to(t('.send_resume'), last_job, :class => 'btn')
