.odd
  .row
    .span6
      %h2
        = t '.our_command'
      %p
        = t '.our_description'
    .span6.text-right
      %h2.bl_title
        = t '.our_skills'
      .skills
        - @technologies.each do |technology|
          .skill
            - unless technology.upload_files.blank?
              = image_tag technology.upload_files.sample.filename.url, title: technology.name, alt: technology.name, width: 50, height: 50
            - else
              = image_tag 'missing.png', width: 50, height: 50, alt: technology.name, title: technology.name
      .more.text-right
        = link_to(t('.read_about_skills'), company_index_path)
.even
  .row
    .bl_title.span12
      %h2
        = t '.project_work'
    .bl_content.row
      - @projects.each do |project|
        .portfolio_item.span3.text-center
          .pic
            - unless project.upload_files.blank?
              = image_tag(project.upload_files.sample.filename.url)
            - else
              = image_tag('missing.png')
          .portf_title
            = link_to project.name, work_path(project)
    .row.text-right
      = link_to(t('.read_about_projects'), work_index_path)
.odd
  .row
    = render :partial => 'shared/post_jobs'



