- @projects.each do |project|
  .row
    .span12
      %h2
        = project.name
    .span6
      #myCarouse2.carousel.slide
        %ol.carousel-indicators
          %li.active{'data-slide-to' => '0', 'data-target' => '#myCarousel'}
          %li{'data-slide-to' => '1', 'data-target' => '#myCarousel'}
          %li{'data-slide-to' => '2', 'data-target' => '#myCarousel'}
        .carousel-inner
          .active.item
            = image_tag project.upload_files.first.filename.to_s
          - project.upload_files.each do |img|
            .item
              = image_tag img.filename.to_s
        = link_to '‹', '#myCarouse2', 'data-slide' => 'prev', :class => 'carousel-control left'
        = link_to '›', '#myCarouse2', 'data-slide' => 'next', :class => 'carousel-control right'
      .text.project-descr
        = project.description
    .span6
      .project-name
        = link_to t('.link_project'), "#{project.url}", :class => 'btn'
        .project-terms.row
          .span3
            %p
              %b
                = t '.since'
              = project.since.strftime("%d %B %Y")
          .span3
            %p
              %b
                = t '.team_size'
              = pluralize(project.team_size.to_i, t('.people'))
          .span3
            %p
              %b
                = t '.till'
              = project.till.strftime("%d %B %Y")
        .team-info.row
          - project.services.each do |serv|
            .developer-info.text-center.span2
              .photo
                = link_to('#') do
                  = image_tag(serv.upload_files.first.filename.to_s, :class => "img-polaroid")
              = link_to "#{serv.name}", '#'
        .tech-info
          %h4
            = t '.tech_info'
          %dl.dl-horizontal
            - names = '' #FIXME
            - project.technologies.each do |tech|
              %dt
                - if tech.technology_category.name == names
                  = '' #FIXME
                - else
                  = names = tech.technology_category.name
              %dd
                = tech.name
  = paginate @projects
.row
  = render :partial => 'shared/post_jobs'
