.block.text-center.rss
  = link_to t('.rss_feed'),  posts_path(:rss), :class => 'btn'
.block.search.text-center
  %form.form-search
    %input.input-large.search-query{:type => 'text', placeholder: t('.search'), :name=>"search"}
.block.categories
  %h3
    = t '.categories'
  %ul.unstyled
    - @categories.each do |category|
      %li
        = link_to category.name, posts_path(:category_name=>category.name)
.block.contact_us
  %p
    = t '.ror_team_info'
    = link_to t('.run_away')
  %h4
    = t '.help_you'
  .btn.text-center
    = link_to t('contact_us')
.block.tags
  %h3
    = t '.tags'
  .cloud
    - @tags.each do |tag|
      - random = 1 + Random.rand(6)
      = link_to tag.name , posts_path(:tag_name => tag.name), :class => "size#{random}"






